{% extends "index.html" %}

{% block games %}

<div class="card border-light mb-3">
  <img src="{{url_for('static', filename='a_game_of_settlers_of_catan.jpg')}}" class="card-img-top" alt="boardgame">
  <div class="card-body">
    <h5 class="card-title">About Our App</h5>
    <p class="card-text">We help you manage your games, find new players to play with, and find clubs in your area.</p>
  </div>
</div>

{% for game in games.games %}

<div class="col-sm mb-3">
<div class="card" style="width: 18rem;">
    <img src="{{game.image_url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{game.name}}</h5>
      <p class="card-text">{{game.year_published}}</p>
      <a class="btn btn-dark btn-sm" href="{{url_for('single_game',id=game.id)}}">Learn More</a>
      <a class="btn btn-secondary btn-sm" href="{{url_for('add_to_collection', id=game.id)}}">Add To Collection</a>
    </div>
  </div>
  </div>

{% endfor %}


{% endblock %}
