{% extends "index.html" %}

{% block search %}

<form class="col-lg" action="{{url_for('search_by_title')}}" method="post">

    <div class="form-row">

        <div class="col-md-6 mb-3">
            <label for="validationTitle">Title</label>
            <input type="text" name="title" class="form-control" placeholder="Title" required>
        </div>

        <div class="col-md-6 mb-3">
            <label for="validationYear">Year</label>
            <input type="number" name="year" class="form-control" placeholder="2025">
        </div>
        
    </div>

    <button class="btn btn-dark" type="submit">Search</button>

    </form>

    {% endblock %}


    {% block search_result %}

    {% if games %}

        {% for game in games.games %}

        <div class="col-sm mb-3">
        <div class="card" style="width: 18rem;">
            <img src="{{game.image_url}}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{game.name}}</h5>
            <p class="card-text">{{game.year_published}}</p>
            <a class="btn btn-dark btn-sm" href="{{url_for('single_game',id=game.id)}}">Learn More</a>
            <a class="btn btn-secondary btn-sm" href="{{url_for('add_to_collection', id=game.id)}}">Add To Collection</a>
            </div>
        </div>
        </div>
        
        {% endfor %}

    {% else %}

    <div></div>

    {% endif %}

    {% endblock %}
